.bsd_header_toa{
    font-size: 1.5rem;
    background: #00008B;
    color: #FFF;
}
.bsd_header_tang{
    font-size: 1.25rem;
    margin-left: 1rem;
    background: #D3D3D3;
}
.chuan_bi{
    background: #FFC000;
}
.san_sang{
    background: #00B050;
}
.dat_cho{
    background: #FFFFFF;
}
.giu_cho{
    background: #00B0F0;
}
.dat_coc{
    background: #339966;
}
.chuyen_coc{
    background: #7030A0;
}
.da_thu_coc{
    background: #ED7D31;
}
.hoan_tat_dat_coc{
    background: #FFFFFF;
}
.thanh_toan_dot_1{
    background: #FFFFFF;
}
.ky_thoa_thuan_coc{
    background: #FFFFFF;
}
.du_dieu_kien{
    background: #FFFFFF;
}
.da_ban{
    background: #FFFFFF;
}