// ------------------------------------------------------------------
// Arial fonts
// ------------------------------------------------------------------
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    src: url(/bsd_views/static/font/Arial.eot);
    src: url(data:font/truetype;charset=utf-8;base64,) format("truetype");
    }

.h1-title-big {
    font-family: Oswald;
    font-size: 25px;
    color: #000;
    font-weight: bold;
}
.bsd_font {
    font-family: Oswald;
}