.o_form_view {
    //Groups
    .o_group {
        margin: 0 0;
        &.o_inner_group {
            > tbody > tr > td {
                &.o_td_label {
                    padding: 0 5px 0 15px;
                }
            }
        }
    }
    // separators
    .o_horizontal_separator {
        font-weight: bold;
    }
}
.o_list_view {
    .o_list_table {
        table-layout: auto !important;
        // width: 100% !important;
        thead {
            > tr > th:not(.o_list_record_selector) {
                max-width: 150px !important;
            }
        }
    }
}