// ------------------------------------------------------------------
// Arial fonts
// ------------------------------------------------------------------
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    src: url(/bsd_views/static/font/Arial.eot);
    src: local('Arial'),
         url(/bsd_views/static/font/Arial.woff) format('woff'),
         url(/bsd_views/static/font/Arial.ttf) format('truetype'),
    }

.h1-title-big {
    font-family: Arial;
    font-size: 60px;
    color: #000;
    font-weight: bold;
}